*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* https://phosphoricons.com/ */

:root{
  --twitter-blue: #1da1f2;
  font-family: 'Roboto', sans-serif;
}
body{
  color: #0f1419;
  -webkit-font-smoothing: antialiased;
}
body, input, textarea, button, a{
  font: 400 1rem Roboto, sans-serif;
  text-decoration: none;
  color: inherit;
}
button{
  cursor: pointer;
}

a{
  color: inherit;
}


/*Page: firstPage*/

.layout{
  margin: 0;
  max-width: 1000px;

  display: grid;
  grid-template-columns: 300px 1fr;
  background-color: #1da1f2;

}

.side-bar{
  background-color: aquamarine;
  padding:1.5rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.side-bar .logo{
  width: 2rem;
  height: 2rem;
}
.side-bar .new-tweet{
  background: var(--twitter-blue);
  border-radius: 9999px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
  color: white;
  font-size: 1.2rem;
  font-weight: 900;
  border: 0;
}
.side-bar .new-tweet:hover{
  filter: brightness(0.95);
}

.main-navigation{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.main-navigation a{
  display: flex;
  align-items: center;
  gap: 1.25rem;
  font-size: 1.25rem;
  font-weight: 700;
}

.content{
  border-left: 1px solid white;
  border-right: 1px solid white;
}